.MessengerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &_holder {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}