@keyframes fade-in {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}

@mixin random-bgr(){
  background: rgb(random(255), random(255), random(255));
}

* {
  box-sizing: border-box;
  animation: fade-in 0.2s linear;
  scrollbar-width: thin;
  scrollbar-color: #EBEEFF #bcbfd5;

  &::-webkit-scrollbar {
    width: 20px;
    padding-left: 15px;
    background-color: rgba(255,255,255,0);
  }

  &::-webkit-scrollbar-track {
    background: #bcbfd5;
    border-radius: 16px;
    border: 6px solid rgba(255,255,255,0);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #EBEEFF;
    border-radius: 16px;
    border: 6px solid rgba(255,255,255,0);
    background-clip: padding-box;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
